body {
    margin: 0;
    color: #6a6f8c;
    background: #c8c8c8;
    font: 600 16px/18px 'Open Sans', sans-serif;
}

*,
:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.marginTop {
    margin-top: 3vh;
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    background: url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(40, 57, 101, .9);
}

.login-html .sign-in-htm,
.login-html .sign-up-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .sign-up:checked+.tab {
    color: #fff;
    border-color: #1161ee;
}

.login-form {
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    /* text-security: circle; */
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #1161ee;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #1161ee;
}

.login-form .group .check:checked+label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.sign-up+.tab+.login-form .sign-in-htm {
    transform: rotate(0);
}

.login-html .sign-up:checked+.tab+.login-form .sign-up-htm {
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

.calButton {
    /* border-radius: 4px; */
    margin: -1px 1px !important;
    width: 21.5vh;
    /* width: 21.6vh; */
    height: 8.5vh;
    font-size: x-large;
    padding: 0vh 8vh;
    background-color: teal;
}

.amountButton {
    /* border-radius: 4px; */
    background-color: rgb(31, 31, 77);
    margin: -1px 1px !important;
    width: 21.5vh;
    height: 8.5vh;
    font-size: x-large;
    padding: inherit;
    /* color: rgb(31, 31, 77); */
}

.cardAmount {
    /* border-radius: 4px; */
    margin: -1px 1px !important;
    width: 9.9vh;
    height: 11.9vh;
    font-size: medium;
    padding: inherit;
}

.cardAmountCash {
    border-radius: 4px;
    margin: -1px 1px !important;
    /* width: 9.9vh; */
    height: 11.9vh;
    font-size: xxx-large;
    padding: inherit;
    background-color: rgb(175, 61, 53);
}

.mahi1 {
    background-color: teal;
    border: 5px solid teal;
    padding: 1px;
    height: 46.9vh;
}

.mahi2 {
    font-size: larger;
    font-family: 'primeicons';
}

.mahi {
    padding: inherit;
    color: white;
}

.mah {
    margin: 3px 0px;
}

.mahh {
    margin: 5px
}

.padInherit {
    padding: inherit;
    width: 87.5vh;
    background-color: darkcyan;
}

.storedesc {
    font-size: smaller;
    font-weight: bolder;
}

.pFont {
    font-size: smaller;
    font-family: system-ui;
    font-weight: bolder;
}

.pFont1 {
    font-size: smaller;
    font-family: system-ui;
    font-weight: 400;
}


/* //Scroll  */


/* // DATAVIEW */

:host ::ng-deep .p-dropdown {
    width: 14rem;
    font-weight: normal;
}

.product-name {
    font-size: 18px;
    font-weight: 700;
}

.product-description {
    margin: 0 0 1rem 0;
}

.product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.product-category {
    font-weight: 600;
    vertical-align: middle;
}

.product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.product-list-item img {
    width: 150px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.product-list-detail {
    flex: 1 1 0;
}

.p-rating {
    margin: 0 0 .5rem 0;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: .5rem;
    align-self: flex-end;
}

.product-list-action {
    display: flex;
    flex-direction: column;
    height: 16vh;
}

.p-button {
    /* margin-bottom: .5rem; */
    font-family: auto;
    font-size: xx-large;
}

.product-grid-item {
    margin: .2px;
    border: 2px solid var(--surface-d);
    border-radius: 4px;
    /* background: tomato; */
}

.cardImg {
    background-image: url('./items/Login_Tab.jpg');
}

.cardFix {
    height: 12vh;
    width: 34.8vh;
    color: white;
    display: inline-grid;
}

.product-grid-item .product-grid-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1px 10px;
}

.product-grid-item-bottom {
    display: inline-grid;
    /* align-items: center; */
    justify-content: space-between;
    padding: 1px 10px;
}

img {
    width: 20%;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    margin: 7px 0px;
}

.product-grid-item-content {
    text-align: center;
}

.product-price {
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
     :host ::ng-deep .product-list-item {
        flex-direction: column;
        align-items: center;
    }
    .product-list-detail {
        text-align: center;
    }
    .product-price {
        align-self: center;
    }
    .product-list-action {
        display: flex;
        flex-direction: column;
    }
    .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

.p-scrollpanel p {
    padding: .5rem;
    line-height: 1.5;
    margin: 0;
}

.p-scrollpanel .custombar1 .p-scrollpanel-wrapper {
    border-right: 9px solid var(--layer-1);
}

.p-scrollpanel-bar {
    background-color: var(--primary-color);
    opacity: 1;
    transition: background-color .2s;
}

.p-scrollpanel-bar :hover {
    background-color: #007ad9;
}

.custombar2 .p-scrollpanel-wrapper {
    border-right: 9px solid var(--layer-1);
    border-bottom: 9px solid var(--layer-1);
}

.p-scrollpanel-bar {
    background-color: var(--layer-2);
    border-radius: 0;
    opacity: 1;
    transition: background-color .2s;
}

.pdialogChange {
    padding: 1.5rem 1.5rem 2rem !important;
}


/* 
button,
button::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    content: 'AVAILABLE NOW';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
}

button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }
    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }
    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }
    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }
    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }
    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }
    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }
    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }
    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }
    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }
    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
} */

.logout-btn {
    font-family: Hack, monospace;
    background: #d3d3d3;
    color: #2c2c2c;
    cursor: pointer;
    font-size: 2em;
    padding: 1.5rem;
    border: 0;
    transition: all 0.5s;
    border-radius: 10px;
    width: auto;
    position: relative;
    min-width: 250px;
}

.logout-btn::after {
    content: "\f2f5";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    position: absolute;
    left: 80%;
    top: 54%;
    right: 0;
    bottom: 0;
    opacity: 0;
    transform: translate(-50%, -50%);
}

.logout-btn:hover {
    background: #2b2bff;
    transition: all 0.5s;
    border-radius: 10px;
    box-shadow: 0px 6px 15px #0000ff61;
    padding: 1.5rem 3rem 1.5rem 1.5rem;
    color: #ffffff;
}

.logout-btn::after {
    opacity: 1;
    transition: all 0.5s;
    color: #ffffff;
}


/* //Button Functions */

.buttons11 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    /*   padding: 2em 0em; */
}

.container11 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #FFF;
    padding: 40px 0px;
    width: 240px;
}